/* summary {
    background-color: rgba(156, 38, 38, 0.9);
    color:  #FFF;

    padding-top: 2rem;
    padding-bottom: 2rem;

}



summary h2{
    display: block;
    margin-top: -2rem;
}

.blue{
    background-color: rgba(45, 45, 117, 0.85);
}

.red{
    background-color: rgba(156, 38, 38, 0.9);
}

.clear{
    background-color: none;
} */
